{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/index.css' %}"/>

<div class="hero-image">
    <div class="hero-container">
        <h1><span>Alivio</span></h1>
        <span class="des">Customers don't just want to shop: they want to feel that the brand understands them.</span>
    </div>
</div>

<div class="container">

    <div class="Featured text-center">
        <h3 style="font-size: xxx-large; letter-spacing: 5px;">FEATURED PRODUCTS</h3>
        <p style="font-size: x-large; opacity: 40%; letter-spacing: 5px;">BEST FROM THE BEST</p>
    </div>

    <div class="row justify-content-md-center row-cols-1 row-cols-md-3 g-4">

        {% for product, potencies in products %}
        
            <div class="col">
                <a href="{% url 'products' product.product_name %}" class="product-page">
                    <div class="card h-100 text-center text-white bg-dark">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}" style="width: 100%; height: 100%;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name|title }}</h5>
                            {% with potencies|last as last_potency %}
                                <p class="card-text">
                                    ${{ potencies.0.price }} - ${{ last_potency.price }}
                                    <br>
                                    {{ potencies.0.potency_value }}mg - {{ last_potency.potency_value }}mg
                                </p>
                            {% endwith %}
                            <form action="{% url 'cart-home' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ potencies.0.id }}" name="potency">
                                <button type="submit" class="btn btn-primary add-to-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </a>    
            </div>
        
        {% endfor %}

    </div>

</div>

{% endblock %}