{% extends "base.html" %}

{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'main/product.css' %}">
<script src="{% static 'main/product.js' %}"></script>

<div class = "product_container">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"> 
            <img class="img-fluid img-thumbnail" src="{% static 'main/1.jpg' %}" style="border: 0px none;" alt="">                                   
        </div>
        
        <div class="product_information">
            <h2>{{product.product_name}}</h2>
            <p id = "potency_price">Price: ${{potencies.0.price}}</p>
            <p>This is a simple product.</p>
            <div class="button_container">
                  <form action="" method="POST">
                      {% csrf_token %}
                      {{form}}                    
                  <input type="submit" value="Submit" class = "btn btn-secondary">
                  </form>
            </div>
            <p>Ingredients: {{product.ingredient_name}} </p>
        </div>
</div>



  <div class= "related_products">
    <h5>RELATED PRODUCTS</h5>


  </div>
{% endblock %}

