{% extends "base.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/shopping-cart.css' %}"/>

<br><br>
<div class="container">
    <div class="table-responsive text-nowrap">
        <h2 class="text-center">Order Summary</h2>
        <br>
        <table class="table" style="border: none">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price Each</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>

            <tbody>
                {% for item in order.orderitem_set.all %}
                <tr>
                    {% if item.potency.product.image %}
                    <td><img class="img-fluid" src="{{ item.potency.product.image.url }}" alt="" style="border: 0px none;" width="50px">{{ item.potency.product.product_name|title }} - {{ item.potency.potency_value }}mg</td>
                    {% endif %}
                    <td>${{ item.potency.price|floatformat:2 }}</td>
                    <td>
                        
                        <form name= "form" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ item.potency.id }}" name="potency">
                            <button type="submit" value= "-1" class="fas fa-minus"  name="btn"style="margin-right: 7px; padding: 0; border: none; background: none;"></button>
                                {{ item.quantity }}
                            <button type="submit" value="1" class="fas fa-plus" name="btn" style="margin-left: 7px; padding: 0; border: none; background: none;"></button>
                        </form>
                    
                    </td>
                    <td>
                        ${{ item.get_total|floatformat:2 }}      
                        <a class="delete-icon-link">

                            <form name="delete"  method="post">   
                                {% csrf_token %}
                                <input type="hidden" value="{{ item.potency.id }}" name="potency">
                                <button type="submit" class="fas fa-trash fa-lg" value="Submit" style="float: right;  border: none; background: none;"></button>
                            </form>
                        
                        </a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><b>Order Total</b></td>
                    <td><b>${{ order.get_cart_total }}</b></td>
                </tr>
                <tr>
                    <td colspan="5">
                        {% if order.get_cart_total != 0 %}
                        <a class="checkout btn btn-warning float-right ml-4" href='/checkout' role="button">Proceed to checkout</a>
                        {% endif %}
                        <a class="continue-shopping btn btn-primary float-right ml-4" href="{% url 'index' %}" role="button">Continue shopping</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}